
// colors map
$colors:(
	hover-color : #cfd1d3,
	font-color : #253039,
	content-background-color : #e3e4e5,
	text-shadow-color : #cfd1d3,
	star-color: #e32072,
	input-focus-color:#98989a,
	input-focus-border-color: #98989a,
	input-border-color: #b2b2b3,
	button-color: #42c299,
	button-hover-color:#3dbd94,
	link-color:#9e9ea6,
	note-color:#70787d,
	footer-using-slack-color:#edb431,
	footer-slack-color:#e32072, 
	footer-leagl-color:#2ab27b,
	footer-handing-link-color:#4b6bc6,
	footer-list-font-color:#8c8c94
);
