<!DOCTYPE html>
<html>
	<head>
		<title>Slack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/main_style.css">
		<link rel="stylesheet" type="text/css" href="../css/new_team_style.css">
	</head>
	<body>
		<div class="container">
			<div class="form">
				<div class="margin_style">
					<a href="#" class="logo"></a>
				</div>
				<div class="create_new">
					<h1>Create new team</h1>
					<label for="">Your <b>email addres</b></label>
					<input type="emai" placeholder="you@example.com" class="your_email"></input>
				</div>
				<div class="">
					
				</div>
			</div>
			<div class="right_img">
				blue
			</div>
		</div>
	</body>
</html>