<!DOCTYPE html>
<html>
	<head>
		<title>Pricing</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/main_style.css">
		<link rel="stylesheet" type="text/css" href="../css/pricing_style.css">
		<script src="../js/pricing.js"></script>
	</head>
	<body>
		<nav class="nav">
			<a href="#" class="logo"></a>
			<ul class="align-right-ul">
				<li><a href="product.html">Product</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="support.html">Support</a></li>
				<li><a href="createnewteam.html">Create a new team</a></li>
				<li><a href="findyourteam.html">Find your team</a></li>
				<li><a href="signin.html" class="border-link">Sign in</a></li>
			</ul>
		</nav>
		<div class="gray_background" id="top_of_page">
			<section  class="tittle">
				<h1>Pricing Guide</h1>
			</section>
				<div class="pricing_tabs">
					<button id="first_tab_button" onclick="select_tab(this.id)" class="pricing_tabs_buttons pricing_tabs_buttons_active">Slack for Teams</button><button id="second_tab_button" onclick="select_tab(this.id)" class="pricing_tabs_buttons">Slack Enterprise Grid</button>
					<div class="tabs_container" id="first_view">
						<p class="tabs_container_content">Slack for Teams is a <strong>single workspace </strong>for <br>your small- to medium-sized <br>company or team.</p>
						<!-- cards div -->
						<div class="cards">
							<div class="card_column">
								<h1 class="cards_tittle">Free</h1>
								<div>
									<span class="cards_price">
										<span class="currancy">&#36;</span>
										0
									</span>
									<p class="pricing_detials">For teams wanting to try out Slack <br>for an unlimited period of time.
									</p>
									<button class="blue_button">Create new team</button>
									<ul class="circle_list">
										<li><span>Searchable message archives, up to 10k of your team’s most recent messages</span></li>
										<li><span>10 apps or service integrations</span></li>
										<li><span>Native apps for iOS, Android, Mac &amp; Windows Desktop</span></li>
										<li><span>Two-person voice and video calls</span></li>
										<li><span>5GB total file storage for the team </span></li>
										<li><span>Two-factor authentication</span></li>
									</ul>
								</div>
							</div>
							<div class="card_column">
								<h1 class="cards_tittle">Free</h1>
								<div>
									<span class="cards_price">
										<span class="currancy">&#36;</span>
										0
									</span>
									<p class="pricing_detials">For teams wanting to try out Slack <br>for an unlimited period of time.
									</p>
									<button class="blue_button">Create new team</button>
									<ul class="circle_list">
										<li><span>Searchable message archives, up to 10k of your team’s most recent messages</span></li>
										<li><span>10 apps or service integrations</span></li>
										<li><span>Native apps for iOS, Android, Mac &amp; Windows Desktop</span></li>
										<li><span>Two-person voice and video calls</span></li>
										<li><span>5GB total file storage for the team </span></li>
										<li><span>Two-factor authentication</span></li>
									</ul>
								</div>
							</div>
							<div class="card_column">
								<h1 class="cards_tittle">Free</h1>
								<div>
									<span class="cards_price">
										<span class="currancy">&#36;</span>
										0
									</span>
									<p class="pricing_detials">For teams wanting to try out Slack <br>for an unlimited period of time.
									</p>
									<button class="blue_button">Create new team</button>
									<ul class="circle_list">
										<li><span>Searchable message archives, up to 10k of your team’s most recent messages</span></li>
										<li><span>10 apps or service integrations</span></li>
										<li><span>Native apps for iOS, Android, Mac &amp; Windows Desktop</span></li>
										<li><span>Two-person voice and video calls</span></li>
										<li><span>5GB total file storage for the team </span></li>
										<li><span>Two-factor authentication</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs_container" id="second_view" style="display: none">
						<p class="tabs_container_content">Slack Enterprise Grid powers the design, usage, and <br>administration of <strong>multiple interconnected Slack workspaces </strong><br>across your entire company.</p>
						<div style="display: flex;">
							<div>
								<img class="img_style" src="https://a.slack-edge.com/3d5d8/img/pricing/enterprise-grid-logo@2x.png">
								<br/>
								<button class="blue_button width_70">contact Us</button>
							</div>
							<div id="right_specification">
								<div id="specification">Slack Enterprise Grid includes:</div>
								<hr>
								<ul class="circle_list">
										<li><span>Organization-wide search, direct messaging, and announcement-focused channels</span></li>
										<li><span>Unlimited workspaces, customized around the people, information and apps that matter most to a team</span></li>
										<li><span>Unlimited workspaces, customized around the people, information and apps that matter most to a team</span></li>
								</ul>
								<hr>
								<ul class="circle_list">
										<li><span>Organization-wide search, direct messaging, and announcement-focused channels</span></li>
										<li><span>Unlimited workspaces, customized around the people, information and apps that matter most to a team</span></li>
										<li><span>Unlimited workspaces, customized around the people, information and apps that matter most to a team</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="security_style">
						<p>
							<h1>Slack leads the way in Enterprise security</h1><br>
							In addition to data encryption in transit and at rest, we operate <br>comprehensive compliance and assurance programs, including:
						</p>
					</div>
					<div class="companies_logo">
						<div class="in_line width_100">
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
						</div>
						<div class="in_line width_70">
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
							<div>
								<h4>CSA</h4>
								<p>asdasd</p>
								<p>asdsadasd</p>
							</div>
						</div>	
					</div>
				</div>
				<div class="slack_free">
					<h3>Slack is <strong>free</strong> to use for as long as you want for teams of all sizes.</h3>
					<button class="white_button">Create New Team</button>
				</div>
			</div>			

				<div class="father_div_slider">
					<div class="slider_div">
						<blockquote id="card_1" class="twitter-tweet">
							<img src="https://pbs.twimg.com/profile_images/833425945881092096/Py31gPc4_bigger.jpg" alt="img_profile" class="radius">
							<p>So many people ask me if remote work is lonely. I always answer no because <a href=""> @SlackHQ</a> makes life amazing!</p>
						</blockquote>
						<blockquote id="card_2" class="twitter-tweet">
							<img src="https://pbs.twimg.com/profile_images/833425945881092096/Py31gPc4_bigger.jpg" alt="img_profile" class="radius">
							<p>So many people ask me if remote work is lonely. I always answer no because <a href=""> @SlackHQ</a> makes life amazing!</p>
						</blockquote>
						<blockquote id="card_3" class="twitter-tweet">
							<img src="https://pbs.twimg.com/profile_images/833425945881092096/Py31gPc4_bigger.jpg" alt="img_profile" class="radius">
							<p>So many people ask me if remote work is lonely. I always answer no because <a href=""> @SlackHQ</a> makes life amazing!</p>
						</blockquote>
						<blockquote id="card_4" class="twitter-tweet">
							<img src="https://pbs.twimg.com/profile_images/833425945881092096/Py31gPc4_bigger.jpg" alt="img_profile" class="radius">
							<p>So many people ask me if remote work is lonely. I always answer no because <a href=""> @SlackHQ</a> makes life amazing!</p>
						</blockquote>
					</div>
					<div class="above_slider">
						<div class="arrows">
							<a class="left_arrow"  href="" onclick="plusDivs(-1)">&#10094;</a>
							<a class="right_arrow" href="" onclick="plusDivs(+1)">&#10095;</a>
						</div>
					<h1 style="    text-align: center;
			    margin-top: 12%;">More at our Wall of Love</h1>

					</div>
				</div>
			<hr>
			<div class="customers">
				<h1>Thousands of happy customers, including:</h1>
			</div>

			<div class="green_background">
				<div>
						<h2>Amazing teams do more with Slack</h2>
						<p>	Teams all over the world who use Slack see an average <span>8.6% reduction in internal email</span>, giving them more time to do great things. To see more data on how Slack improves productivity, check out our survey results.
						</p>
						<button class="see_data_btn">See the data</button>
				</div>
			</div>
			<div class="out_pricing_perspective">
				<div>
					<h2>Our Pricing Perspective</h2>
					<p>
					Team communication is at the heart of every business. It’s the thing that connects your entire organization and has the biggest impact on your culture and productivity.</p>
					<p>
					For decades, team communication software has been a race to the bottom with clunky and cheap solutions that offer far more frustration than value. We want to change that by offering you a product that just works. And we want it to be a great value for your entire organization — with a growing lineup of new features, helpful on-boarding, and responsive support.</p>
					<p>
					We believe Slack is an investment in your team and culture. So we set our pricing at a level that allows us to invest in building a solid product, and more importantly, a great experience for you as our customers.
					</p>
				</div>
			</div>

			<div class="fair_billing_policy">
				<div >
					<h2>Fair Billing Policy</h2>
					<p>Most enterprise software pricing is designed to charge you per user regardless of how many people on your team are actively using the software. If you buy 1,000 seats but only use 100, you still get charged for 1,000. We don’t think that’s fair. And it’s also hard to predict how many seats you’ll need in advance.</p>
					<p>At Slack, you only get billed for what you use. So you don’t pay for the users that aren’t using Slack. And if someone you’ve already paid for becomes inactive, we’ll even add a prorated credit to your account for the unused time. Fair’s fair.</p>
				</div>
			</div>

			<div class="nonprofit_pricing">
				<div>
					<h1>Slack for Good</h1>
					<p>Slack wants to support people in the world who are doing good things. For qualified nonprofit organizations and educational institutions, there is special pricing available.</p>
					<p>To be considered for the special pricing options based on your team and company qualifications, please fill out the Slack for Nonprofits application or the Slack for Education application.</p>
					<p>To be considered for the special pricing options based on your team and company qualifications, please fill out the Slack for Nonprofits application or the Slack for Education application.</p>
					<div>
		
					</div>
				</div>
			</div>
			<div class="take_to_human">
				<div>
					<h1>Talk to a Human</h1>
					<p>Have a question? We’re always here to help.</p>
					<p>Customer Experience is the largest team at Slack and located around the world so that we can help you around the clock.</p>
					<p>So, let us know how we can help any time. You can even use the feedback command right within Slack!</p>
					<button class="blue_button width_30">Contact sUs</button>
				</div>
			</div>
			<div class="common_questions">
				<div id="nav">
					<h1>FQA</h1>
					<ul>
						<li><a onclick="select_nav(this.id)" id="Product_item" href="#product">Product</a></li>
						<li><a onclick="select_nav(this.id)" id="Getting_item" href="#Getting_Started">Getting Started</a></li>
						<li><a onclick="select_nav(this.id)" id="Security_item" href="#Security_Privacy">Security & Privacy</a></li>
						<li><a onclick="select_nav(this.id)" id="Legal_item" href="#Legal">Legal</a></li>
						<li><a onclick="select_nav(this.id)" id="Billing_item" href="">Billing & Invoicing</a></li>
					</ul>
				</div>
				<div id="content">
					<h1>Common Questions & Resources</h1>
					<div id="product" class="width_80 margin_top">
						<h1>Product</h1>
						<ul class="ul_style">
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
						</ul>
					</div>
					<div id="Getting_Started" class="width_80 margin_top">
						<h1>Getting_Started</h1>
						<ul class="ul_style">
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
						</ul>
					</div>
					<div id="Security_Privacy" class="width_80 margin_top">
						<h1>Security_Privacy</h1>
						<ul class="ul_style">
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
						</ul>
					</div>
					<div id="Legal" class="width_80 margin_top ">
						<h1>Legal</h1>
						<ul class="ul_style">
							<li><a href="">Where can I learn more about how to use Slack?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
							<li><a href="">How does your pricing compare to other similar software?</a></li>
							<span class="rigth_align">+</span>
							<hr>
						</ul>
					</div>
				</div>
			</div>
			<div class="back_button">
				<a href="#top_of_page">Back to top</a>
			</div>
			<!--  -->
		<!-- footer div -->
		<footer class="footer">
			<div class="footer-lists">
				<ul>
					<li id="using-slack-list-tittle">USING SLACK</li>
					<li><a href="">Product</a></li>
					<li><a href="">Pricing</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Slack Guides</a></li>
					<li><a href="">Video Guides</a></li>
					<li><a href="">App Directory</a></li>
					<li><a href="">API</a></li>
				</ul>
			</div>
			<div class="footer-lists">
				<ul>
					<li id="slack-list-tittle">SLACK &hearts;</li>
					<li><a href="">Jobs</a></li>
					<li><a href="">Customers</a></li>
					<li><a href="">Developers</a></li>
					<li><a href="">Events</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Podcast</a></li>
					<li><a href="">Slack Shop</a></li>
				</ul>
			</div>
			<div class="footer-lists">
				<ul>
					<li id="leagl-list-tittle">LEGAL</li>
					<li><a href="">Privacy</a></li>
					<li><a href="">Security</a></li>
					<li><a href="">Terms of Service</a></li>
					<li><a href="">Policies</a></li>
				</ul>
			</div>
			<div class="footer-lists">
				<ul>
					<li id="handy-links-list-tittle">HANDY LINKS</li>
					<li><a href="">Download desktop app</a></li>
					<li><a href="">Download mobile app</a></li>
					<li><a href="">Brand Guidelines</a></li>
					<li><a href="">Slack at Work</a></li>
					<li><a href="">Status</a></li>
				</ul>
			</div>
		</footer>
		<div>
			<a href="#" class="logo buttom-logo"></a>
			<div class="contact-us-style">Contact Us

			</div>
		</div>

	</body>
</html>