<!DOCTYPE html>
<html>
	<head>
		<title>Slack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/index_style.css">
		<link rel="stylesheet" type="text/css" href="../css/main_style.css">
	</head>
	<body class="body_style">
			<nav>
				<a href="#" class="logo"></a>
				<ul class="align-right-ul">
					<li><a href="product.html">Product</a></li>
					<li><a href="pricing.html">Pricing</a></li>
					<li><a href="support.html">Support</a></li>
					<li><a href="createnewteam.html">Create a new team</a></li>
					<li><a href="findyourteam.html">Find your team</a></li>
					<li><a href="signin.html" class="border-link">Sign in</a></li>
				</ul>
			</nav>
			<div>
				<div>
					<!-- this for right imges  -->
					<div class="col-sm-6 img-left"></div>
					<div class="main-content">
						<div class="where-work-happens">
							<h1>
								<div class="no-wrap">Where work<sup class="asterisk">*</sup></div>
								<div>happens.</div>
							</h1>
						</div>
						<div>
							<p class="decribtion">
								<sup>*</sup>
								Whatever work means for you, Slack brings all the pieces and 
								people you need together so you can actually get things done.
							</p>
						</div>
						<!-- div for form & text below it -->
						<div>
							<form action="">
								<input class="input-email" type="email" name="email" placeholder="Email address">
								<button class="button-green">Create a new team</button>
							</form>
							<!-- this div for text below he form -->
							<div class="note">
								Your team already uses Slack? 
								<a href="">Sign in</a>
								or
								<a href="">find your team</a>.
							</div>
						</div>
					</div>

				</div>	
			</div>
			<!-- footer div -->
			<footer class="footer">
				<div class="footer-lists">
					<ul>
						<li id="using-slack-list-tittle">USING SLACK</li>
						<li><a href="">Product</a></li>
						<li><a href="">Pricing</a></li>
						<li><a href="">Support</a></li>
						<li><a href="">Slack Guides</a></li>
						<li><a href="">Video Guides</a></li>
						<li><a href="">App Directory</a></li>
						<li><a href="">API</a></li>
					</ul>
				</div>
				<div class="footer-lists">
					<ul>
						<li id="slack-list-tittle">SLACK &hearts;</li>
						<li><a href="">Jobs</a></li>
						<li><a href="">Customers</a></li>
						<li><a href="">Developers</a></li>
						<li><a href="">Events</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Podcast</a></li>
						<li><a href="">Slack Shop</a></li>
					</ul>
				</div>
				<div class="footer-lists">
					<ul>
						<li id="leagl-list-tittle">LEGAL</li>
						<li><a href="">Privacy</a></li>
						<li><a href="">Security</a></li>
						<li><a href="">Terms of Service</a></li>
						<li><a href="">Policies</a></li>
					</ul>
				</div>
				<div class="footer-lists">
					<ul>
						<li id="handy-links-list-tittle">HANDY LINKS</li>
						<li><a href="">Download desktop app</a></li>
						<li><a href="">Download mobile app</a></li>
						<li><a href="">Brand Guidelines</a></li>
						<li><a href="">Slack at Work</a></li>
						<li><a href="">Status</a></li>
					</ul>
				</div>
			</footer>
			<div>
				<a href="#" class="logo buttom-logo"></a>
				<div class="contact-us-style">Contact Us

				</div>
			</div>

	</body>
</html>