<!DOCTYPE html>
<html>
	<head>
		<title>Slack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/main_style.css">
		<link rel="stylesheet" type="text/css" href="../css/support_style.css">
	</head>
	<body>
		<div class="starting_page">
			<nav class="top_nav">
				<div>
					<a href="#" class="logo"></a>
					<a href="#" class="left_border">Help Center</a>
				</div>
				<ul class="align-right-ul">
					<li><a href="product.html">Back to slack</a></li>
					<li><a href="signin.html" class="border-link">Sign in</a></li>
				</ul>
			</nav>
			<div id="help_section">
				<h1>Hi. How can we help? </h1>
				<input type="text" placeholder="Find anything ( Like teams channel ...)">
				<p>Popular help topic : <a href=""> message formatting</a>, <a href="">Slackbot</a>, <a href="">two-factor authentication</a></p>
			</div>
		</div>
		<div class="itro_cards">
			<div class="itro_cards_container">
				<div class="itro_card_container">
					<div class="using_slack">
						<div id="using_slack_background"></div>
							<h3>Using slack</h3>
							<p class="description_p">Find the answer to any question, from the basics all the way to advanced tips and tricks!</p>
							<button class="button-green">Browse all articles</button>
					</div>
				</div>
				<div class="itro_card_container">
					<div class="team_admin">
						<div id="team_admin_background"></div>
						<h3>Team Adminstration</h3>
						<p class="description_p">Want to learn more about setting up and managing your team? Look no further!</p>
						<button class="button-green">Browse all articles</button>
					</div>
				</div>	
			</div>
		</div>
		<div class="resource_categories">
			<div class="rec_guides">
				<b>Ready to learn? </b> Whatever your level, <a class="link" href="">try out helpful guides</a>
			</div>
			<div class="rec_guides">
				<b>Ready to learn? </b> Whatever your level, <a class="link" href="">try out helpful guides</a>
			</div>
			<div class="featured_articles">
				<h3>Featured Articles</h3>
				<ul>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
					<li><a href="" class="link">Getting started for new users</a></li>
				</ul>
			</div>
			<div class="horizantal_line"></div>
			<h2>Slack Tips</h2>
			<div class="slack_tip">
				<div class="slack_tip_item">
					The Quick Switcher: Skip gleefully from channel to channel with ⌘/Ctrl+K.
				</div>
				<div class="slack_tip_item">
					The Quick Switcher: Skip gleefully from channel to channel with ⌘/Ctrl+K.
				</div>
				<div class="slack_tip_item">
					The Quick Switcher: Skip gleefully from channel to channel with ⌘/Ctrl+K.
				</div>
			</div>
		</div>
		<div class="horizantal_line"></div>
		<div></div>
	</body>
</html>